@model IEnumerable<MovieReviews_MVC.Models.ViewModels.CommentsViewModel>

@foreach (var comment in Model)
{
  <div class="row pt-3 mx-0">
    <div class="mb-3">
      <div class="row flex-grow-1" >
        <div class="col-1">
          <img class="img-thumbnail w-100" style="object-fit: cover" src="" alt="Alternate Text" />
        </div>
        <div class=" col-11">
          <h5 class="card-title font-weight-bold text-black-50 d-inline-block">Username</h5>
        
        
          <p class="card-text">
            @comment.CommentBody
          </p>
        </div>
      </div>
      <div class="position-relative mt-1" style="left: 100px;">
        <span> @comment.CreatedOn.Subtract(DateTime.Now).Days days ago</span>
        <span class="d-inline-block mx-4">&bull;</span>
        <a href="#">Reply</a>
        <span class="d-inline-block mx-4">&bull;</span>
        <a href="#">Report</a>
      </div>
    </div>
    @foreach (var reply in comment.ChildComments)
    {
      <div class="mb-3 ml-5">
        <div class="row flex-grow-1">
          <div class="col-1">
            <img class="img-thumbnail" src="" alt="Alternate Text" />
          </div>
          <div class=" col-11">
            <h5 class="card-title font-weight-bold text-black-50 d-inline-block">Username</h5>
        
        
            <p class="card-text">
              @reply.CommentBody
            </p>
          </div>
        </div>
        <div class="position-relative mt-1" style="left: 100px;">
          <span> @comment.CreatedOn.Subtract(DateTime.Now).Days days ago</span>
          <span class="d-inline-block mx-4">&bull;</span>
          <a href="#">Reply</a>
          <span class="d-inline-block mx-4">&bull;</span>
          <a href="#">Report</a>
        </div>
      </div>
    }
  </div>
}
