@model MovieReviews_MVC.Models.ViewModels.ReportCommentViewModel
<div class="modal fade" id="comment-report-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Report Comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        @using (Ajax.BeginForm("Report", "Comment", new AjaxOptions { HttpMethod = "POST" ,  OnSuccess = "alertCommentReportSuccess(data, status, xhr)", OnFailure = "alertCommentReportFailure" }))
        {
          @Html.AntiForgeryToken()
          <div class="form-group">
          @Html.LabelForModel(Model.Reason)
          @Html.TextAreaFor(Model => Model.Reason, 5, 50, new { @class = "form-control", placeholder = "Write a reason..." })
          </div>
          @Html.HiddenFor(Model => Model.Id)


          <div class="modal-footer">
            <input type="submit" value="Submit" class="btn btn-outline-primary" />
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
          </div>
        }


      </div>
     
    </div>
  </div>
</div>