@model dynamic

<div class="card mb-3 position-relative review-card">
  <div class="review__rating--wrapper">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star-half-alt"></i>
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>

  </div>
  <div class="card-body">
    <h4 class="card-title">Review Title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
      Some quick example text to build on the card title and make up the bulk of the card's content. lorem
      Some quick example text to build on the card title and make up the bulk of the card's content. loremSome quick example text to build on the card title and make up the bulk of the card's content. lorem
      Some quick example text to build on the card title and make up the bulk of the card's content. lorem
    </p>

  </div>
  <div class="review-link__wrapper">
    <a class="review-link__link" href="#">Read full review...</a>

  </div>
</div>