@model List<MovieReviews_MVC.Models.ViewModels.MoviesViewModel>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Movies</h2>
 

<div class="row flex-wrap partials-content"  data-url ="/Movie/MovieCards">

  <div class="loader">Loading...</div>

</div>

