@model List<MovieReviews_MVC.Models.ViewModels.MoviesViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>
 

<div class="row flex-wrap justify-content-center partial-content" data-url="/Movie/MovieCards">
  <div class="col-12">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

</div>

