@model IEnumerable<MovieReviews_MVC.Models.ViewModels.FilmCrewMemberCardModel>


@foreach (var card in Model)
{
<div class="col-3">
  <a href="@Url.Action("Details","FilmCrewMembers", new { id = card.Id})" class="card border-light mb-3">

    <img style="height: 200px; width: 100%; display: block;" src="@card.ImageUri" alt="Crew image">
    <div class="card-body">
      <h5 class="card-title text-center">@card.Name</h5>

    </div>

  </a>
</div>
}